
#wrap{
    position:relative;
    width:300px;
    height:300px;
    border:1px solid #ccc;
}
.box{
    position: absolute;
    width:100px;
    height: 100px;
    font-size: 30px;
    opacity: 0.7;
}
#crd1 { top:50px; left:80px; background-color: red; z-index: 1;}
#crd2 { top:80px; left:100px; background-color: yellow; z-index: 2;}
#crd3 { top:120px; left:50px; background-color: blue;z-index: 3;}
.multi {
    column-count: 3;
    column-rule: 2px dotted #000;
    text-align: justify;
}
.multi h3{
    break-before: column;
}
.no-col{
    column-span: all;
}
    