ul{
    color:blue;
    list-style-type: square;
}
h2{
    color:blue;
}

p{
    font-size: 18px !important; /*!important 선언시 해당 부분은 덧씌워지지 않고 유지된다.*/
    margin-left: 20px;
}

p{
    font-size: 12px;
    margin-left: 20px;
    color: blue;
}

/* class -> ID -> Inline 순서로 적용들인다(Overwrite)*/
.redtext{/*. 선언시 class를 받아서 적용된다.*/
    color:red;
}
#container{/*# 선언시 id를 받아서 적용된다.*/
    background: #ff6a60;
    width: 400px;
    height: 200px;
    margin: 0 auto;
}
.box:hover {
    transform: rotate(15deg);
    }
    